{% extends "front_office/layout/front_office_layout.html" %}

{%load static%}

{%block page_title %}
            Accueil
{%endblock page_title%}

{%block layout_main_content %}
    
<div id="home" class=" parallax-hero" 
data-jarallax='{"speed": 0.2}' 
style='background-image: url("{% static 'templateFiles/assan-landing/images/bg1.jpg' %}")'>
    <div class="parallax-overlay"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 pb50">
                <h5 class="text-white font400 text-uppercase"></h5>
                <h3 class="mb20 text-white title-font text-capitalize h1">Great possibilities are awaiting for you</h3>
                <p class="text-white-gray mb30 lead">
                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus
                </p>
                <div class="mb40">
                    <a data-scroll href="#features" class="btn btn-white-outline mr-3">Learn More</a>

                </div>
            </div>
            <div class="col-lg-6 mr-auto">
                <img src="{% static 'templateFiles/assan-landing/images/mockup1.png' %}" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div><!--hero-->


{%endblock layout_main_content%}

